<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>insparva</title>
    <!-- Bootstrap core CSS -->
    {% block head %}
    {% endblock %}

    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>

<body>
    {% block body %}
    {% endblock body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block script %}
    {% endblock script%}
</body>

</html>